{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

<article {{ attributes.addClass(classes) }}>

<div class="service-area-content clearfix mb-4">
  <h4 class="content-title">{{node.title.value}}<a class="see-more float-right" href={{ url }}>SEE MORE</a></h4>
  <hr>
  <p>{{ content.field_service_area_locations.0 }}</p>
</div>

</article><!-- /.node -->
